.d-flex {
    padding: 0 40px;
}
.nav-link {
    margin-left:  15px;
}

.btnallcour {
    padding-top: 9px;
    margin-top: 4px;
    width: 128px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #B2D235;
}

.txtallcour {
    text-align: center;
    color: #FEFFFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}




/* xoá  đường viền */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler  */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #505353;
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}


.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #505353;

}

/* xong nut x */
