.Web {
  background-color:#FFF;
  width: 1525px;
  height: 4000px;
  margin: auto;
}

@media (max-width: 375px) {
  /* kích thước màn hình nhỏ hơn hoặc bằng 375px */
  
}

/* áp dụng cho màn hình từ 768px đến 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  

}
