.App {
  /* text-align: center;
  width: 1440px;
  height: 150px; */
  height: 5062px;
  width: 1440px;
  left: -6242px;
  top: -4651px;
  border-radius: 0px;
  /* position: relative; */
}
.App-header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
}
.image1 {
  height: 70px;
  width: 340.15625px;
  left: 46px;
  top: 39px;
  border-radius: 0px;
  position: absolute;
  
}
.home {
  height: 19px;
  width: 43px;
  left: 930px;
  top: 65px;
  border-radius: nullpx;
  position: absolute;
  /* identical to box height */
  text-transform: uppercase;
  color: #505353;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.home_1{
  height: 34px;
  width: 70px;
  left: 1008px;
  top: 58px;
  border-radius: 17px;
  background: #B2D235;
  color: #FFFFFF;
}
.all {
  height: 19px;
  width: 93px;
  left: 1028px;
  top: 65px;
  border-radius: nullpx;
  position: absolute;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.all_1{
  height: 34px;
  width: 110px;
  left: 1008px;
  top: 58px;
  border-radius: 17px;
  background: #B2D235;
}
.login{
  height: 19px;
  width: 116px;
  left: 1171px;
  top: 65px;
  position: absolute;
  border-radius: nullpx;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.login_1{
  height: 34px;
  width: 120px;
  left: 1008px;
  top: 58px;
  border-radius: 17px;
  background: #B2D235;
}
.profile{
  height: 19px;
  width: 58px;
  left: 1322px;
  top: 65px;
  border-radius: nullpx;
  position: absolute;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.pro_1{
  height: 34px;
  width: 100px;
  left: 1008px;
  top: 58px;
  border-radius: 17px;
  background: #B2D235;
}

.body{
  height: 655px;
  width: 1440px;
  left: 0px;
  top: 150px;
  border-radius: 0px;

}
.image_body1{
  height: 655px;
  width: 1440px;
  left: 0px;
  top: 150px;
  border-radius: 0px;
  position: absolute;
}
.p1_1{
  
  position: absolute;
  width: 513px;
  height: 61px;
  left: 59px;
  top: 310px;
  font-family:' UTM BryantLG';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;
  color: #11114E;
}
.p1_2{
  position: absolute;
  width: 395px;
  height: 61px;
  left: 60px;
  top: 370px;
  font-family: UTM BryantLG;
  font-size: 51px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em; 
  text-align: left;
  color: #11114E;
  /* border: 1px solid #11114E; */
  
}
.p1_3{
  height: 50px;
  width: 249px;
  left: 60px;
  top: 477px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  color: #505353;

}
.button_Start{
  position: absolute;
  width: 243px;
  height: 37px;
  left: 65px;
  top: 566px;
  
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  
  letter-spacing: -0.05em;
  
  color: #FFFFFF;
  
  border: 0.3px solid #FFFFFF;
}

.bt_1{
  height: 70px;
  width: 360px;
  left: 60px;
  top: 553px;
  
  border-radius: 35px;
  background: #B2D235;
  color: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.chatBot{
  height: 190px;
  width: 360px;
  left: 1045px;
  top: 603px;
  border-radius: 23px;
  background: #FFFFFF;
  /* box-shadow: 0px 0px 8px 0px #00000040; */
  position: absolute;
  }
.chatBot_cu1{
  position: absolute;
  /* width: 190px;
  height: 190px;
  left: 9px;
  top: 19px; */
  height: 28px;
  width: 28px;
  left: 9px;
  top: 19px;
  border-radius: 0px;

  /* border: 1px solid #DADADA; */

}
.chatBot_text1{
  height: 15px;
  width: 45px;
  left: 65px;
  top: 1px;
  border-radius: nullpx;
  /* position: absolute; */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #7F7F7F;
  position: absolute;
}

.button_x1{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 321px;
  top: 10px;
  background: #C4C4C4;
  border-radius: 100px;

}

.chat_learn{
  height: 50px;
  width: 230px;
  left: 65px;
  top: 35px;
  border-radius: 15px;
  position: absolute;
  background: #F1F0F0;
  border-radius: 15px;

}
.chat1{
  height: 50px;
  width: 140px;
  left: 12px;
  top: 0px;
  border-radius: nullpx;
  font-family: Open Sans;
  font-size: 9px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: left;
  position: absolute;
  color: #505353;
}
.mes_bt{
  position: absolute;
  width: 260px;
  height: 37px;
  left: 50px;
  top: 120px;
  background: #3184F7;
  border-radius: 10px;
}
.mes_logo{
  position: absolute;
  height: 20px;
  width: 95px;
  left: 0px;
  top: 8px;
  border-radius: 0px;
  
}

.mes_bt_bt{
  position: absolute;
  width: 148px;
  height: 95px;
  left: 65px;
  top: -2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.mes_mes{
  position: absolute;
  width: 208px;
  height: 16px;
  left: 70px;
  top: 150px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #B3B3B3;
}

.ds_1{
  height: 470px;
  width: 370px;
  left: 135px;
  top: 855px;
  border-radius: 15px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.ds_js{
  height: 215px;
  width: 370px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  position: absolute;
  background: #3F6185;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;

}
.ds_js_1{
  height: 125px;
  width: 226px;
  left: 75px;
  top: 40px;
  border-radius: 0px;
  position: absolute;
}
.ds_2{
  height: 470px;
  width: 370px;
  left: 535px;
  top: 855px;
  border-radius: 15px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.ds_js2{
  height: 215px;
  width: 370px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  position: absolute;
  background: #DC594C;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}
.ds_js_2{
  height: 125px;
  width: 226px;
  left: 85px;
  top: 40px;
  border-radius: 0px;
  position: absolute;

}
.ds_3{
  height: 470px;
  width: 370px;
  left: 935px;
  top: 855px;
  border-radius: 15px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.ds_js3{
  height: 215px;
  width: 370px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  position: absolute;
  background: #556598;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}
.ds_js_3{
  height: 125px;
  width: 226px;
  left: 70px;
  top: 45px;
  border-radius: 0px;
  position: absolute;

}
.ds_nd1{
  height: 37px;
  width: 274px;
  left: 50px;
  top: 205px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #B2D235;
  /* border: 0.3px solid #D2D235 */
}
.ds_nd1_2{
  height: 80px;
  width: 275px;
  left: 50px;
  top: 270px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #505353;

}
.ds_bt_1{
  height: 42px;
  width: 200px;
  left: 90px;
  top: 390px;
  border-radius: 22px;
    
  position: absolute;
  background: #B2D235;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  color: #FFFFFF;

}

.ds_nd1_bt1{
  height: 60px;
  width: 150px;
  left: 25px;
  top: -4px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size:11px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.ds_nd2{
  position: absolute;
  height: 37px;
  width: 400px;
  left: 70px;
  top: 205px;
  border-radius: nullpx;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #B2D235;
}
.ds_nd2_2{
  position: absolute;
  width: 275px;
  height: 80px;
  left: 45px;
  top: 270px;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #505353;
}
.ds_bt_2{
  height: 42px;
  width: 200px;
  left: 85px;
  top: 390px;
  border-radius: 22px;
  background: #B2D235;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  position: absolute;
}
.ds_nd2_bt2{
  position: absolute;
  width: 127px;
  height: 22px;
  left: 35px;
  top: -4px;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.ds_nd3{
  position: absolute;
  width: 157px;
  height: 37px;
  left: 108px;
  top: 205px;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #B2D235;
}
.ds_nd3_3{
  position: absolute;
  width: 275px;
  height: 80px;
  left: 45px;
  top: 270px;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #505353;
}
.ds_bt_3{

  position: absolute;
  width: 200px;
  height: 42px;
  left: 85px;
  top: 390px;
  background: #B2D235;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
}
.ds_nd3_bt3{
  position: absolute;
  width: 127px;
  height: 22px;
  left: 35px;
  top: -4px;
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.fon_xam{
  position: absolute;
  width: 1440px;
  height: 160px;
  left: 0px;
  top: 805px;
  background: #E5E5E5;
}